<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML Review</title>
    <!--
    container for metadata
    title styles (css), link, scripts
    -->
</head>
<body>

<b>Welcome to Java Developer Course</b>

<h1 align="center" style="color:blue">Spring boot</h1>
<h2>Spring boot</h2>
<h3>Spring boot</h3>
<h4>Spring boot</h4>
<h5>Spring boot</h5>
<h6>Spring boot</h6>

<ul>
    <li>Java</li>
    <li>MVC</li>
    <li>ORM</li>
</ul>

<a href="https://cydeo.com">Cydeo</a>
<br>
<br>
<table>
    <tr>
        <td>FirstName</td>
        <td>LastName</td>
        <td>Salary</td>
    </tr>
    <tr>
        <td>Mike</td>
        <td>Smith</td>
        <td>129000</td>
    </tr>
</table>
<label>Username:</label>
<input type="text" name="username">
<br>
<label>Password:</label>
<input type="password">
<br>
<label>Enter comments</label>
<textarea name="comments"></textarea>
<br>

<label>Please select gender</label>
<input type="radio" name="gender" value="male">Male
<input type="radio" name="gender" value="female">Female
<input type="radio" name="gender" value="other">Other
<br>

<label>Please select favorite courses</label>
<input type="checkbox" name="course" value="sprint">Spring
<input type="checkbox" name="course" value="ds">DS
<input type="checkbox" name="course" value="java">Java

<br>

<label>Select your program</label>
<select>
    <option value="us_sdet">US SDET</option>
    <option value="eu_sdet">EU SDET</option>
    <option value="us_jd">US JD</option>
    <option value="jd_al">JD AL</option>
</select>

<br>
<br>
<br>

<form action="#" method="get">

    Firstname: <input type="text" name="first_name">
    <br>
    Lastname: <input type="text" name="last_name">
    <br>
    <input type="button" value="submit">

</form>

<br>

<div style="background-color: yellowgreen">
    <h1>Java Developer Course</h1>

    <ul>
        <li>Spring</li>
        <li>Data Structure</li>
    </ul>

</div>


</body>
</html>